$hero-height: 60vh;

.hero-section {
  background: url('http://localhost/barber_shop/web/themes/custom/barber/images/barber_shop_old_school.jpg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;

    .hero-section-text-title-main,
    .hero-section-text-title-sub {
      font-family: 'Lobster', cursive;
    }

    .hero-section-text-title-main {
      font-size: 4rem;
    }
  
    .hero-section-text-title-sub {
      font-size: 3rem;
    }

  }

}

